<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ccoupons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".Main.RegisterActivity"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.LoginActivity"
            android:fitsSystemWindows="true" />
        <activity
            android:name=".MainPageActivity"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Search.SearchActivity"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Search.SearchResultActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".User.UserPortraitActivity" />
        <activity android:name=".User.UserInformationActivity" />
        <activity android:name=".Main.ResetPasswordActivity"></activity>
    </application>

</manifest>